
    
.barra {
    flex-direction: column;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 20px;
}
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.imagen {
    height: 60px;
}

.enlaces {
    display: flex;
    gap: 15px;
}
@media (max-width: 769px){
    .barra{
        flex-direction: column;
    }
}